@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

//Regular 400;
//Medium 500;
//SemiBold 600;
//Bold 700;

/* Colours */
$primary-bg-light: #f4f2f1;
$primary-bg-dark: #363636;
$primary-font-light: #190500;
$primary-font-dark: #818181;
$accent-color: #a6a6a6;
$primary-color: #fd6d4f;
$primary-color-accent: #feab9a;
