@import "./config";
@import "./normalize";

/* Style of hero section */
.hero a {
    color: $primary-bg-light;
}
.hero {
    max-width: 100%;
    position: relative;
    .fa-solid {
        position: absolute;
        color: $primary-color;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: $primary-bg-light;
        opacity: 0.5;
        cursor: pointer;
        &.fa-chevron-left {
            left: 1.6rem;
        }
        &.fa-chevron-right {
            right: 1.6rem;
        }
    }
    .hero-imgContainer {
        overflow: hidden;
        height: 28rem;
        .hero-imgContainer-images {
            display: flex;
            gap: 2rem;
            height: 100%;
            padding: 0.8rem;
            transition: transform 300ms ease-in;
            cursor: pointer;
            .hero-imgContainer-images-cards {
                position: relative;
                min-width: 100%;
                height: 100%;
                &::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background: linear-gradient(
                        180deg,
                        rgba(0, 0, 0, 0.2) 0%,
                        rgba(0, 0, 0, 0.6) 60%
                    );
                    border-radius: 1.6rem;
                }
                img {
                    border-radius: 1.6rem;
                    box-shadow: (2px 2px 5px #575757);
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                }
                a {
                    position: absolute;
                    word-spacing: 0.3rem;
                    bottom: 1.6rem;
                    left: 0.8rem;
                    right: 0.8rem;
                    font-size: 2rem;
                    font-weight: 600;
                    letter-spacing: 0.02rem;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box !important;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    white-space: normal;
                    border-radius: 0 0 1.6rem 1.6rem;
                }
            }
        }
    }
}

/* Navigation */
.nav {
    padding: 1.4rem;
    transition: all 300ms ease;
    margin-bottom: 0.8rem;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 2.4rem;
        scroll-behavior: smooth;
        overflow: scroll;
        /* hide scrollbar on mobile screen */
        scrollbar-width: none;
        transition: scroll 300ms ease;
        li {
            border-bottom: 3px solid transparent;
            transition: border-bottom 300ms ease;
            padding-bottom: 0.3rem;
            a {
                color: $accent-color;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1.6rem;
                font-weight: 600;
                letter-spacing: 0.05rem;
            }
            &.active {
                border-bottom: 3px solid $primary-color;
            }
        }
        &::-webkit-scrollbar {
            display: none;
            -ms-overflow-style: none; /* IE and Edge */
        }
    }
    &.sticky {
        position: sticky;
        top: 0;
        background-color: $primary-bg-light;
        margin-top: 0;
        z-index: 20;
        box-shadow: 0px 2px 5px rgba(166, 166, 166, 0.5);
    }
    .dark &.sticky {
        background-color: $primary-bg-dark;
        box-shadow: 0px 2px 5px #444444;
    }
}

main {
    padding: 0 0 4rem;
    .newsFeed {
        padding: 0 1.6rem;
        display: flex;
        flex-direction: column;
        .newsFeed-popular {
            display: flex;
            justify-content: space-between;
            margin: 3rem 0 2.4rem;
            h2 {
                font-size: 1.8rem;
                font-weight: 600;
                letter-spacing: 0.05rem;
                cursor: pointer;
                transition: transform 150ms ease, border-bottom 300ms ease;
                border-bottom: 3px solid transparent;
                padding-bottom: 0.3rem;
                &:hover,
                &:active {
                    transform: scale(0.97);
                }
                &.active {
                    border-bottom: 3px solid $primary-color;
                }
            }
        }
        .latestNewsHero,
        .topNewsHero {
            display: none;
            &.active {
                display: block;
                width: 100%;
                a {
                    color: $primary-font-light;
                    display: grid;
                    gap: 0.8rem;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: 1fr auto;
                    margin-bottom: 1.4rem;
                    cursor: pointer;
                    transition: transform 150ms ease-in;
                    border-bottom: 1px solid transparent;
                    padding-bottom: 0.8rem;
                    &:hover,
                    &:active {
                        transform: scale(0.98);
                    }
                    .dark & {
                        color: $primary-font-dark;
                    }
                    h4 {
                        font-size: 1.4rem;
                        font-weight: 400;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-weight: 600;
                        // Addition lines for 2 line or multiline ellipsis
                        display: -webkit-box !important;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        white-space: normal;
                        grid-column: 1/4;
                        word-spacing: 0.3rem;
                    }
                    span {
                        font-size: 1.2rem;
                        font-weight: 500;
                        color: $accent-color;
                        text-transform: uppercase;
                        grid-column: 1/4;
                        grid-row: 2/3;
                    }
                    img {
                        width: 9rem;
                        height: 9rem;
                        object-fit: cover;
                        border-radius: 0.5rem;
                        grid-column: 4/5;
                        grid-row: 1/3;
                        justify-self: end;
                    }
                }
            }
        }
    }
    section > .article-container {
        width: 100%;
        padding: 1.6rem 1.6rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 2.4rem;
        a {
            color: $primary-font-light;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-decoration: none;
            &:hover,
            &:active {
                transform: scale(0.98);
            }
            img {
                width: 100%;
                height: 12rem;
                object-fit: cover;
                margin-bottom: 1.2rem;
                border-radius: 1rem;
            }
            h4 {
                font-size: 1.4rem;
                font-weight: 400;
                text-overflow: ellipsis;
                overflow: hidden;
                font-weight: 600;
                // Addition lines for 2 line or multiline ellipsis
                display: -webkit-box !important;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                white-space: normal;
                margin-bottom: 1.2rem;
                word-spacing: 0.3rem;
            }
            span {
                font-size: 1.2rem;
                font-weight: 500;
                color: $accent-color;
                text-transform: uppercase;
                display: inline-block;
            }
            &:nth-child(1) {
                grid-column: 1/3;
                grid-row: 1/2;
                border-radius: 1.6rem;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, auto);
                img {
                    height: 24rem;
                    grid-column: 1/4;
                }
                h4 {
                    grid-column: 1/4;
                }
                span {
                    grid-column: 1/3;
                }
            }
        }
        .dark & a {
            color: $primary-font-dark;
        }
    }
}

/* Load more btn */
button.loadMore {
    background-color: transparent;
    width: 100%;
    border: 0;
    text-transform: uppercase;
    color: $primary-color;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    transition: color 150ms ease;
    margin-top: 2.6rem;
    margin-bottom: 2.6rem;
    &:hover,
    &:active {
        color: $primary-color-accent;
    }
    &:disabled {
        color: $primary-font-dark;
        cursor: crosshair;
    }
}
@import "./footer";
